 @import "bootstrap";
 @import "trix";

 .pagination {
    font-size: 12px;
    display:block !important;
  }   

.comments{
    margin-top: 20px;
}

.comments-group{
    background: rgba(86, 183, 255, 0.2) !important
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}